#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0

export MAKE
export KERNELARCH           = $(shell $(MAKE) kernelarch)
export KERNELRELEASE        = $(shell $(MAKE) kernelrelease)
export KBUILD_DEBARCH       = $(shell dpkg-architecture -qDEB_HOST_ARCH)
export KBUILD_BUILD_VERSION = $(shell $(MAKE) kernellocalversion)
export KDEB_RULES           = debian/rules.auto
export KDEB_SOURCENAME      = linux-source
export ARCH                 = $(KERNELARCH)

debian/control debian/changelong debian/arch debian/copyright:
debian/control:
	./scripts/package/mkdebian

build:	debian/control
	$(MAKE) KERNELRELEASE=$(KERNELRELEASE) ARCH=$(KERNELARCH) KBUILD_BUILD_VERSION=$(KBUILD_BUILD_VERSION) KBUILD_SRC=

binary-arch:	debian/control
	$(MAKE) KERNELRELEASE=$(KERNELRELEASE) ARCH=$(KERNELARCH) KBUILD_BUILD_VERSION=$(KBUILD_BUILD_VERSION) KBUILD_SRC= intdeb-pkg

clean:
	rm -rf debian/*tmp debian/files debian/changelog debian/control debian/copyright debian/rules.auto debian/arch
	$(MAKE) clean

binary: binary-arch
